@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Nunito;
}

body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.emailBody{
    width: 100%;
    max-width: 1200px;
    padding-bottom: 20px;
    background-color: #687d57;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.banner{
    width: 100%;
    max-width: 1200px;
    position: absolute;
}

.content{
    z-index: 99;
    margin-top: 60%;
    width: 95%;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.426);
}

.bodyText h3{
    margin-bottom: 20px;
    font-size: 22px;
    color: #872f40;
}

.bodyText p{
    margin-bottom: 10px;
    text-shadow: 0px 0px 2px rgba(85, 85, 85, 0.603);
}

.products{
    margin: 40px 0px;
    display: flex;
    justify-content: space-evenly;
}

.products figure{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    padding: 0px 50px 20px 50px;
    box-shadow: 0px 0px 2px rgba(92, 92, 92, 0.493);
}

.products figure img{
    max-height: 300px;
    margin: 20px;
    width: auto;
}

.products p{
    min-width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.products :nth-child(2){
    font-size: 18px;
    font-weight: 900;
}

.products :nth-child(3){
    font-size: 16px;
    font-weight: 500;
}

.products button{
    padding: 15px;
    background-color: #872f40;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 3px #687d57;
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer button{
    width: 90%;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 7px rgba(92, 92, 92, 0.493);
    font-size: 20px;
     font-weight: 500;
}

.socialMedia{
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialMedia a{
    text-decoration: none;
    color: #872f40;
    font-size: 20px;
}